.container {
  margin-top: 50px;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--softBg);
  color: var(--textColor);
  border-radius: 20px;
  margin-bottom: 50px;
}
.form textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 1rem;
  min-height: 100px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--softBg);
  color: var(--textColor);
  resize: none;
  appearance: none;
  overflow: hidden;
  border: none;
  outline: none;
}

.formBar {
  display: flex;
  flex-direction: row;
  background-color: var(--softBg);
  color: var(--textColor);
  padding: 5px 10px;
  border-radius: 20px;
}

.utilsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--softBg);
  color: var(--textColor);
}

.button {
  justify-self: flex-end;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
}

.login {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  margin-bottom: 50px;
}
.loginText {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}
.loginButton {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}
.comments {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.comment {
  display: flex;
}
.userImageContainer {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.userImage {
  object-fit: cover;
}
.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
  background-color: var(--softBg);
  padding: 15px;
  border-radius: 20px;
}
.user {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.username {
  font-size: 1rem;
  font-weight: 600;
  color: var(--textColor);
}
.userDate {
  font-size: 0.8rem;
  color: var(--softTextColor);
}

.likeContainer {
  position: relative;
}

.likes {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  background-color: var(--softBg);
  padding: 0px 10px;
  gap: 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: var(--softTextColor);
}

.likeButton {
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
}

.likesCount {
  font-weight: bold;
  cursor: default;
}
