.container {
  display: flex;
  flex-direction: column;
}

.titleInput {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: var(--font-bartina-bold);
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  outline: none;
  overflow: hidden;
}

.titleInput::placeholder {
  color: var(--softTextColor);
}

.descriptionInput {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-style: italic;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  outline: none;
  overflow: hidden;
}

.descriptionInput[contenteditable]:empty::before {
  content: attr(placeholder);
  color: var(--softTextColor);
}
